@font-face {
    font-family: 'Playfair';
    src: url(/assets/PlayfairDisplayMedium.woff2) format("woff2");
    unicode-range: U+22,U+25-3F,U+41-5F,U+61-7D;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body {
    width: 100%;
    margin: 0;
}

header {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden
}

header a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}

header .header-title {
    font-family: 'Playfair', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0.3rem;
    padding-top: 0;
    border-bottom: 1px solid black;
    white-space: normal;
}

#logo {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 20%;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
}

article {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0.8rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

article h1 {
    font-size: 2rem;
}
